<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca De</title>
    <!-- Aquí se vincula el archivo CSS donde definiremos el color de fondo -->
    <link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body>
    <!-- ENCABEZADO DE LA PÁGINA -->
    <header> 
        <div class="background mask">
        <!-- BARRA DE NAVEGACIÓN -->            
            <nav>
                <!-- HIPERVINCULOS -->
                <ul>
                    <li><a href="../index.html">Home</a></li> 
                    <li><a href="contacto.html">Contacto</a></li>
                    <li><a href="acercaDe.html">Acerca De</a></li>
                </ul>
                <h1 align="center">
                    La Cocina de Rocio
                </h1>
            </nav>
        </div> 
    </header>    
<!-- CUERPO PRINCIPAL DE LA PÁGINA -->     
    <main>
        <section>
            <!-- CREO UNAS DIVISIONES -->
            <div>
                <!-- AGREGO UN SUBTITULO -->
                <h3 align="left">Acerca De:</h3>
            </div>
            <div class="imagen-container">
                <img src="../Imagenes/chefs.png" alt="imagenSopa" class="sopa-imagen">
            </div>
            <!-- SALTO DE LINEA -->
            <br>
            <div> 
                <!-- CREO UN NUEVO PÁRRAFO -->
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias odit facere libero consequatur a nihil, fugiat eius eligendi consectetur officiis laborum eaque consequuntur quo obcaecati, ut inventore! Vel, eum omnis.
                Rerum modi perferendis corrupti reiciendis nam iure esse omnis et cumque a veritatis blanditiis officia suscipit, recusandae molestias cupiditate, inventore voluptatibus ipsam iusto. Sed laboriosam expedita repellendus ratione natus officia?
                Velit iusto repellat provident! Asperiores labore iusto, odio illum praesentium quae. Ea odit officiis nisi provident vel, similique numquam soluta magni, adipisci exercitationem, cum consequatur unde est! Necessitatibus, sunt optio?
                Provident sed minima magnam vel placeat inventore esse dicta voluptatem optio officia, repellat id cumque, veniam molestiae nulla beatae mollitia labore. Alias vitae earum nihil tenetur quam, eaque sit iure.
                Accusantium corporis soluta laborum fugit ab at ex sit repellat recusandae expedita? Quia ea porro consectetur optio deserunt aperiam sed, voluptatibus necessitatibus placeat, magnam iure, enim accusamus cumque blanditiis ipsam!</p>
            </div>
        </section>        
    </main>
    <!-- PIE DE LA PÁGINA -->
    <footer class="footer-container">
        <div> 
            <h4 align="center">Derechos reservados @2023</h4> 
        </div>
    </footer> 
</body>
</html>