/* estilos.css */

/* Reseteamos estilos por defecto del navegador */
body, ul {
    margin: 0;
    padding: 0;
  }
  
  /* Estilo para el menú de navegación */
  nav {
    background-color: #FFA500; /* Aquí puedes cambiar el color a tu preferencia */
  }
  
  ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Centra los elementos del menú horizontalmente */
    align-items: center; /* Centra los elementos del menú verticalmente */
    height: 50px; /* Altura del menú, ajusta según tus necesidades */
  }
  
  li {
    margin: 0 10px; /* Espaciado entre elementos del menú */
  }
  
  a {
    text-decoration: none;
    color: #fff; /* Color del texto del enlace */
    padding: 10px 15px; /* Espaciado interno para hacer clic más fácil */
  }
  
  /* estilos.css */

/* Estilo para la imagen de la sopa */
.sopa-imagen {
  max-width: 300px; /* Ajusta el tamaño de la imagen según tus preferencias */
  height: auto; /* Esto garantiza que la imagen mantenga su proporción original */ 
}

/* Estilo para el contenedor de la imagen */
.imagen-container {
  display: flex;
  justify-content: center;
}

/* Estilo para el footer */
.footer-container {
  background-color: #FFA500; /* Color de fondo naranja para el footer */
  padding: 10px 0; /* Espaciado interno para hacerlo más visible */
}

/* Estilo para el texto dentro del footer */
.footer-container h4 {
  color: #fff; /* Color del texto del footer */
}