<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta</title>
    <!-- Aquí se vincula el archivo CSS donde definiremos el color de fondo -->
    <link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body>
    <!-- ENCABEZADO DE LA PÁGINA -->
    <header> 
        <div class="background mask">
        <!-- BARRA DE NAVEGACIÓN -->            
            <nav>
                <!-- HIPERVINCULOS -->
                <ul>
                    <li><a href="../index.html">Home</a></li> 
                    <li><a href="contacto.html">Contacto</a></li>
                    <li><a href="acercaDe.html">Acerca De</a></li>
                  </ul>
                  <h1 align="center">
                      La Cocina de Rocio
                  </h1>
            </nav>
        </div> 
    </header> 
<!-- CUERPO PRINCIPAL DE LA PÁGINA -->
    <main>
        <section>
            <div>
            <!-- AGREGO UN SUBTITULO -->
            <h3 align="left">Sopa Crema de Calabaza: RECETA</h3>                
            </div>
            <div class="imagen-container">
                <img src="../Imagenes/210685.png" alt="imagenSopa" class="sopa-imagen">
            </div>
            <!-- SALTO DE LINEA -->
            <br>
            <div>
                <p>
                    <b>Preparación: </b>
                    Lavar y pelar la calabaza, cortarla en trozos grandes. 
                    <br>Colocar una olla con el agua, el laurel, apio, sal. Dejarlo hervir durante 1 hora, procesar y servir.
                </p> 
            </div>
        </section>
    </main>
    <footer class="footer-container">
        <div> 
            <h4 align="center">Derechos reservados @2023</h4> 
        </div>
    </footer> 
</body>
</html>