<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <!-- Aquí se vincula el archivo CSS donde definiremos el color de fondo -->
    <link rel="stylesheet" type="text/css" href="../css/estilo.css"> 
</head>
<body>
     <!-- ENCABEZADO -->
     <header>
        <section>
            <!-- BARRA DE NAVEGACIÓN -->
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="areaDePractica.html">Área de Práctica</a></li>
                    <li><a href="acercaDe.html">Nosotros</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </section>
        <h1 align="center">
            Estudio Jurídico
        </h1>
    </header>
    <main>

    </main>
    <footer>

    </footer>   
</body>
</html>