/* estilos.css */

/* Reseteamos estilos por defecto del navegador */
body, ul {
    margin: 0;
    padding: 0;
  }
  
  /* Estilo para el menú de navegación */
  nav {
    background-color: #47b9ed; /* Aquí puedes cambiar el color a tu preferencia */
  }
  
  ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Centra los elementos del menú horizontalmente */
    align-items: center; /* Centra los elementos del menú verticalmente */
    height: 50px; /* Altura del menú, ajusta según tus necesidades */
  }
  
  li {
    margin: 0 10px; /* Espaciado entre elementos del menú */
  }
  
  a{
    text-decoration: none;
    color: #fff; /* Color del texto del enlace */
    padding: 10px 15px; /* Espaciado interno para hacer clic más fácil */
  }
  
  /* estilos.css */

/* Estilo para la imagen de la sopa */
.sopa-imagen {
  max-width: 300px; /* Ajusta el tamaño de la imagen según tus preferencias */
  height: auto; /* Esto garantiza que la imagen mantenga su proporción original */ 
}

/* Estilo para el contenedor de la imagen */
.imagen-container {
  display: flex;
  justify-content: center;
}

/* Estilo para el footer */
.footer-container {
  background-color: #47b9ed; /* Color de fondo naranja para el footer */
  padding: 10px 0; /* Espaciado interno para hacerlo más visible */
}

/* Estilo para el texto dentro del footer */
.footer-container h4 {
  color: #fff; /* Color del texto del footer */
}


/* estilo.css */

/* Estilo para el menú desplegable */
.menu-desplegable {
  background-color: #FFA500; /* Color de fondo del menú desplegable */
  width: 200px; /* Ancho del menú */
  height: 100%; /* Ocupa toda la altura del contenedor */
  position: fixed; /* Se mantiene fijo en la posición */
  top: 0; /* Se posiciona en la parte superior */
  left: -200px; /* Inicialmente oculto fuera de la pantalla */
  transition: left 0.3s; /* Agregamos una transición suave al desplegar/ocultar */
}

/* Estilo para los enlaces dentro del menú desplegable */
.menu-desplegable ul {
  list-style: none;
  padding: 0;
  margin: 20px;
}

.menu-desplegable ul li {
  margin-bottom: 10px;
}

.menu-desplegable ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
}

/* Estilos para el video ajustado */
.ajuste-video-index {
  width: 100%; /* Ancho del video al 100% del contenedor */
  height: auto; /* Altura ajustada automáticamente para mantener la proporción original */
}

/* Estilos para la barra de navegación */
.nav-container {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo-item {
  margin-right: 20px; /* Espaciado entre el logo y los enlaces */
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-link img {
  width: 40px; /* Ajusta el ancho de la imagen del logo */
  height: auto; /* Mantiene la proporción de la imagen */
  margin-right: 10px; /* Espaciado entre el logo y el texto */
}

/* Estilos para los enlaces de navegación */
.nav-container li a {
  text-decoration: none;
  color: #991d10;
  margin-right: 15px; /* Espaciado entre los enlaces */
}

.nav-container li a:hover {
  color: orangered;
}



