<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- AGREGAR ICONO -->
    <link rel="shortcut icon" href="../favicon/icono.ico" type="image/x-icon">

    <title>Contacto</title>
    <!-- Aquí se vincula el archivo CSS donde definiremos el color de fondo -->
    <link rel="stylesheet" type="text/css" href="../css/estilos.css">   

    
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@200&family=Raleway:wght@300&family=Rubik+Iso&display=swap" rel="stylesheet">
</head>
<body>
    <!-- ENCABEZADO -->
    <header>
        <div class="header-en-linea">
            <a href="../index.html">
                <img src="../img/otros/1.png" alt="Logo de OLD SKOOL" class="logo-pagina">
            </a>
        </div>
        <!-- BARRA DE NAVEGACION -->
        <nav class="header-en-linea">
            <a class="menu-navegacion" href="../index.html">Home</a>
            <a class="menu-navegacion" href="zapatillas.html">Zapatillas</a>
            <a class="menu-navegacion" href="indumentaria.html">Indumentaria</a>
            <a class="menu-navegacion" href="acercaDe.html">Acerca De</a>
            <a class="menu-navegacion" href="contacto.html">Contacto</a>
        </nav>
    </header>
    <!-- PRINCIPAL -->
    <main> 
        <!-- FORMULARIO ENVIO DE CONSULTAS -->
        <section class="seccion-1"> 
            <!-- Formulario del tipo POST, envia la consulta -->
            <form action="https://formspree.io/f/xvojazvd" method="post"> 
                <div>
                    <h3>Envianos tu consulta</h3>
                </div>
                <!-- GROUP BOX - FIELD SET -->
                <fieldset>
                    <legend>Datos Personales</legend>
                    <!-- INFORMACIÓN DE CONTACTO -->
                    <br>
                    <div>
                        <label for="nombre">Nombre: </label>
                        <input type="text" name="nombre" id="IDNombre" placeholder="EJ: Juan">
                        
                        <label for="email">Correo Electronico: </label>
                        <input type="email" name="email" id="IDEmail" placeholder="EJ: juanrodr@outlook.com.ar" required>
                        
                        <label for="telefono">Télefono:</label>
                        <input type="tel" name="telefono" id="txtTelefono" placeholder="EJ: 11-5678-1521" required>
                    </div>

                    <!-- INFORMACIÓN SOBRE LA LOCALIDAD -->
                    <br>
                    <div>
                        <label for="direccion">Dirección: </label>
                        <input type="text" name="direccion" id="IDDireccion"> 
                        
                        <label for="Numero">Número: </label>
                        <input type="number" name="Numero" id="IDNumero">
                        
                        <label for="ciudad">Ciudad: </label><input type="text" name="ciudad" placeholder="EJ: C.A.B.A."> <br><br>
                        <label for="codigoPostal">Código Postal:</label><input type="text" name="codigoPostal"
                        placeholder="EJ: 1820"> <br> <br>
                    </div>

                    <!-- INFORMACIÓN SOBRE CONSULTA - LISTAS -->
                    <div>
                        <label for="">Seleccione un asunto: </label>
                        <input list="asuntos" name="asunto" id="IDAsunto">
                        <datalist id="asuntos">
                            <option value="Envio">Envio</option>
                            <option value="Stock">Stock de Producto</option>
                            <option value="Retiro">Retiro</option>
                            <option value="Promociones">Promociones</option>
                            <option value="Otro">Otro</option>
                        </datalist>
                    </div>
                    
                    <!-- ENVIAR COMENTARIO -->
                    <br>
                    <div>
                        <label for="Comentario"><b>Consulta - Comentario:</b></label>
                        <textarea name="Comentario" id="IDComentario" cols="120" rows="10" maxlength="500"></textarea>
                    </div>

                    <!-- BOTONES  -->
                    <br>
                    <div align="center">
                        <input type="submit" value="ENVIAR">
                        <input type="reset" value="BORRAR">
                    </div>
                </fieldset>
            </form>
            <br>
            <p align="center">Si presiona Enviar, se enviará un mail con su consulta y/o comentario.</p>
        </section>
        
        <!-- CONTACTO DE TELEFONO -->
        <br>
        <hr>
        <section>
            <div>
                <p><b>Número de Télefono:</b>11 - 3822 - 5232</p>
            </div>
        </section>
    </main>
    <!-- PIE DE PÁGINA -->
    <footer class="pie-de-pagina">
        <!-- AGREGO ICONOS DE REDES -->
        <div class="logos-redes-sociales">
            <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://instagram.com" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
        <div>
            <h4>Derechos reservados @OLDSKOOL2023</h4>
        </div>
    </footer>
</body>
    <!-- LINK DE ICONOS FONT AWESOME -->
    <script src="https://kit.fontawesome.com/1f548e1441.js" crossorigin="anonymous"></script>
</html>