<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <!-- Aquí se vincula el archivo CSS donde definiremos el color de fondo -->
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">   
</head>
<body>
    <!-- ENCABEZADO -->
    <header>
        <nav>
            <ul>
                <!-- HIPERVINCULOS -->
                <li><a href="../index.html">Home</a></li>
                <li></li><a href="contacto.html">Contacto</a></li>
                <li></li><a href="zapatillas.html">Zapatillas</a></li>
                <li></li><a href="gorras.html">Gorras</a></li>
                <li></li><a href="acercaDe.html">Acerca De</a></li>
            </ul>
        </nav>
    </header>
    <!-- PRINCIPAL -->
    <main>

    </main>
    <!-- PIE DE PÁGINA -->
    <footer>

    </footer>
</body>
</html>