<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GALERIA</title>
</head>
<body>
    <!-- ENCABEZADO -->
    <header>
        <!-- Menú de Navegacion -->
        <nav>
            <!-- Hipervinculos -->
            <a href="../index.html">Inicio</a>
            <a href="lista.html">Listas</a>
            <a href="galeria.html">Galeria</a>
            <a href="tabla.html">Tabla</a>
            <a href="https://www.google.com/?hl=es"  target="_blank">Google</a>
            <!-- ENLACE INTERNO -->
            <a href="#enlaceInterno">Ver Historia</a>
        </nav> 
    </header>
    <!-- CUERPO DE LA PAGINA -->
    <main>
        <h1 align="center">GALERIA</h1>
        <section>
            <div> 
                <img src="../img/bobsburger.jpg" alt="bobsburger">
                <h3 align="center">Bob's Burger</h3>
                <p>Descripcion: Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum blanditiis laboriosam voluptate officia soluta placeat ex aspernatur sequi impedit laborum quas, quibusdam nostrum amet ratione eius perferendis, ipsum iure qui.
                   Deserunt ex vero iusto tempora enim consequuntur consectetur, cum eaque asperiores maxime eligendi fugit recusandae hic itaque molestiae beatae temporibus delectus sed, accusamus ab quos dicta. Aperiam molestias facere harum?
                   Veniam atque nobis temporibus, ad esse, commodi praesentium dignissimos in aperiam sapiente suscipit eos ipsum nulla explicabo cupiditate repudiandae, hic ut deserunt. Beatae natus at corrupti aut consectetur et explicabo.
                </p>
                <!-- ABRIR IMAGEN EN NUEVA PESTAÑA (atributo target)-->
                <a href="../img/bobsburger.jpg" target="_blank">Ver Imagen en nueva ventana</a>
                <br>
                <!-- DESCARGAR IMAGEN (atributo download) -->
                <a href="../img/bob.jpg" download="bobImage">Descargar Bob</a>
                <br>
                <!-- DESCARGAR PDF (atributo download) -->
                <a href="../pdf_naruto.pdf" download="NarutoPDF">Descargar PDF Naruto</a>
                <br>
                <!-- ENVIAR CORREO (abrir hotmail) -->
                <a href="mailto:">Enviar Correo</a>
            </div>
            <div>
                <img src="../img/bob.jpg" alt="ImagenBob">
                <h3 align="center">¿Quien es Bob's Burger?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum blanditiis laboriosam voluptate officia soluta placeat ex aspernatur sequi impedit laborum quas, quibusdam nostrum amet ratione eius perferendis, ipsum iure qui.
                   Deserunt ex vero iusto tempora enim consequuntur consectetur,piente suscipit eos ipsum nulla explicabo cupiditate repudiandae, hic ut deserunt. Beatae natus at corrupti aut consectetur et explicabo.
                </p>  
            </div>
        </section>
        <!-- ESTA SECCION TIENE UN IDENTIFICADOR QUE TRAERA DIRECTO AL TEXTO MEDIANTE UN HIPERVINCULO -->
        <section id="enlaceInterno">
            <h2>Ver Historia de la Hamburgueseria</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi officiis sunt nulla magni hic odit aliquam incidunt dolores laudantium possimus labore nam vero, quis iusto sint voluptates debitis reiciendis porro.
            Incidunt laborum similique excepturi. Illo provident atque itaque veniam magnam id eaque, exercitationem molestias, officia nisi inventore sapiente nulla excepturi ipsa aspernatur illum sequi adipisci enim corrupti autem quam commodi.
            Expedita, possimus eius alias animi nam a? Ducimus exercitationem facere consectetur dignissimos incidunt quam impedit officiis, consequatur itaque nulla, autem modi quod? Incidunt nesciunt fuga et soluta ex, veritatis rerum!
            Qui fugit, sequi autem accusamus nobis eum assumenda! Sed natus tenetur velit vero eligendi nihil asperiores, illo blanditiis nobis provident et delectus assumenda beatae, accusamus voluptatibus. Incidunt beatae modi placeat?
            Nostrum fugiat fugit ut ex commodi inventore, tempore, dolor atque dicta dolores quos possimus eligendi quae provident error tempora! Assumenda error accusamus voluptatem dolorem sunt. Reiciendis dolorem iste obcaecati maxime.
            Quisquam tempora nobis, natus officia assumenda doloribus modi eligendi voluptate autem recusandae numquam dolore, itaque hic asperiores architecto harum error adipisci. Voluptate neque dicta nam quae? Laudantium laboriosam provident voluptas.
            Earum distinctio perferendis rerum quod accusantium ratione odio blanditiis facere ab recusandae minima assumenda doloremque neque nobis dignissimos tempora eaque magnam eos voluptatibus fugiat repellat sit, ullam atque! Minima, aliquid?
            Reprehenderit minima architecto tenetur nemo eum molestias, deserunt distinctio eos nihil. Eveniet soluta quisquam nam maiores. Nam iste est beatae. Laboriosam aliquam vitae reiciendis consequuntur non ducimus debitis temporibus eaque?
            Deleniti quis ab molestiae? Impedit ducimus quisquam error itaque dolorem similique sit debitis, deserunt tempore aspernatur dignissimos, omnis nam? Porro eum at rem optio velit quod id harum, rerum dolorem!
            Quam optio possimus repellendus. Fugiat, quas. Necessitatibus corporis eum debitis ullam soluta facilis saepe inventore officiis, rem, quae, voluptatum sunt? Libero, quam accusamus illo quae maxime consequuntur eligendi repellendus corrupti.</p>
        </section>
    </main>
    <!-- PIE DE PAGINA -->
    <footer>

    </footer>
</body>
</html>