<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas</title>
</head>
<body>
    <header>
        <!-- Menú de Navegacion -->
        <nav>
            <!-- Hipervinculos -->
            <a href="../index.html">Inicio</a>
            <a href="lista.html">Listas</a>
            <a href="galeria.html">Galeria</a>
            <a href="tabla.html">Tabla</a>
            <a href="https://www.google.com/?hl=es"  target="_blank">Google</a>
        </nav> 
    </header>
    <!-- CUERPO PRINCIPAL -->
    <main>
        <h1 align="center">LISTAS</h1>

        <!-- SECCION LISTAS ORDENADAS -->
        <section>
            <h2>Lista ORDENADA</h2>
            <!-- ETIQUETA DE LISTA ORDENADA -->
             <!-- CAMBIAR VIÑETA -->
             <ul type="circle">
                <li>Argentina</li>
                <li>Brasil</li>
                <li>Chile</li>
                <li>Italia</li>
                <li>Bolivia</li>
                <li>Peru</li>
                <li>Uruguay</li>
            </ul>

            <h2>Lista ORDENADA POR NUMERACIÓN</h2>
            <!-- CAMBIAR NUMERACIÓN -->
            <ol type="1">
                <!-- INDICO QUE SON ELEMENTOS DE LA LISTA -->
                <li>Lunes</li>
                <li>Martes</li>
                <li>Miércoles</li>
                <li>Jueves</li>
                <li>Viernes</li>
                <li>Sábado</li>
                <li>Domingo</li>
            </ol>
        </section>
        <!-- SECCION LISTAS DESORDENADAS -->
        <section>
            <h2>Listas DESORDENADAS</h2>
            <!-- ETIQUETA DE LISTA DESORDENADA -->
            <ul>
                <li>Argentina</li>
                <li>Brasil</li>
                <li>Chile</li>
                <li>Italia</li>
                <li>Bolivia</li>
                <li>Peru</li>
                <li>Uruguay</li>
            </ul>

            <!-- CAMBIAR VIÑETA -->
            <ul type="circle">
                <li>Argentina</li>
                <li>Brasil</li>
                <li>Chile</li>
                <li>Italia</li>
                <li>Bolivia</li>
                <li>Peru</li>
                <li>Uruguay</li>
            </ul>

            <!-- CAMBIAR VIÑETA -->
            <ul type="square">
                <li>Argentina</li>
                <li>Brasil</li>
                <li>Chile</li>
                <li>Italia</li>
                <li>Bolivia</li>
                <li>Peru</li>
                <li>Uruguay</li>
            </ul>            
        </section>
        <!-- SECCIONS LISTAS DESORDENADAS DEPENDIENTES -->
        <section>
            <h2>Listas DESORDENADAS DEPENDIENTES / ANIDADAS</h2>
             <!-- LISTAS ANIDADAS  -->
             <ul type="circle">
                <li>Lunes</li>
                    <ul>
                        <li>Mañana</li>
                            <ul>
                                <li>08.00hs Desayuno</li>
                                <li>10.00hs Clínico</li>
                            </ul>
                        <li>Tarde</li>
                            <ul>
                                <li>14.30hs Clase PYTHON</li>
                                <li>16.00hs Finalizar Clase</li>
                            </ul>
                        <li>Noche</li>
                            <ul>
                                <li>21.00hs Cena</li>
                            </ul>
                    </ul>
                <li>Martes</li>
                <li>Miércoles</li>
                <li>Jueves</li>
                <li>Viernes</li>
                <li>Sábado</li>
                <li>Domingo</li>
            </ul>
        </section>
        <!-- SECCION LISTAS DE DEFINICIÓN -->
        <section>
            <h2>Lista de DEFINICIÓN</h2>
            <b><p>Alimentos Lactéos</p></b>

            <!-- DEFINICIÓN DE LISTAS -->
            <dl>
                <!-- DEFINO TERMINOS -->
                <i><dt>Leche</dt></i>
                    <!-- DEFINICION DE DESCRIPCION DE  ELEMENTOS -->
                    <dd>Entera</dd>
                    <dd>Descremada</dd>
                <i><dt>Quesos</dt></i>
                    <dd>Cremoso</dd>
                    <dd>Azul</dd>
            </dl>
        </section>
    </main>
    <!-- PIE DE LA PAGINA -->
    <footer>

    </footer>
</body>
</html>