<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TABLA</title>
</head>
<body>
    <header>
        <!-- Menú de Navegacion -->
        <nav>
            <!-- Hipervinculos -->
            <a href="../index.html">Inicio</a>
            <a href="lista.html">Listas</a>
            <a href="galeria.html">Galeria</a>
            <a href="tabla.html">Tabla</a>
            <a href="https://www.google.com/?hl=es"  target="_blank">Google</a>
        </nav> 
    </header>
    <!-- CUERPO PRINCIPAL -->
    <main>
        <h1 align="center">TABLA</h1>

    </main>
    <!-- PIE DE LA PAGINA -->
    <footer>

    </footer>
</body>
</html>